

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

n issue:no IE 6 support.
*/
[hidden] {
    display: none
}


html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

html, button, input, select, textarea {
    font-family: sans-serif;
    font-family: 'Nunito', sans-serif;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

html, html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}


a:focus {
    outline: thin dotted;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}


h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
h2 {
    margin: 0.83em 0;
    font-size: 1.5em;
}
h3 {
    margin: 1em 0;
    font-size: 1.17em;
}
h4 {
    margin: 1.33em 0;
    font-size: 1em;
}
h5 {
    margin: 1.67em 0;
    font-size: 0.83em;
}
h6 {
    margin: 2.33em 0;
    font-size: 0.75em;
}


abbr[title] {
    border-bottom: 1px dotted
}


b, strong {
    font-weight: bold
}
blockquote {
    margin: 0px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000;
}

p, pre {
    margin: 1em 0
}


code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}


pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


q {
    quotes: none
}

q:before, q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%
}

sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}



dl, menu, ol, ul {
    margin: 1em 0
}
dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}



img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}


svg:not(:root) {
    overflow: hidden
}


figure {
    margin: 0
}


form {
    margin: 0
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}


legend {
    padding: 0;
    border: 0; /* 1 */
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}


button, input, select, textarea {
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    font-size: 100%; /* 1 */
    *vertical-align: middle; /* 3 */
}


button, input {
    line-height: normal
}


button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
    cursor: pointer; /* 3 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible; /* 4 */
}

button[disabled], input[disabled] {
    cursor: default
}


input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    /* 2 */
    box-sizing: content-box;
    -webkit-appearance: textfield; /* 1 */
    nowhitespace: afterproperty;
}


input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}


textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}


.group:after {
    content: "";
    display: table;
    clear: both;
}
a {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
p {
    font-size: 14px;
    line-height: 25px;
}
a {
    color: #73d0da
}
a:hover, a:focus {
    color: #73d0da;
    text-decoration: none;
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
}


.use-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9;
    font-size: 16px;
}
.use-btn:hover, .use-btn:focus {
    background-color: #73d0da;
    color: #fff;
    text-decoration: none;
}
.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    margin: 10px 10px 0 0;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}
.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none;
}

.video-header h1 {
    margin: 225px 100px 50px 0;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}


.video-header{
    padding: 60px 0 60px 0;
    margin: 50px;
    height:100vh;
}


header i {
    margin-left: 5px
}







/* ==========================================================================
Features Slider
========================================================================== */
.features-bg {
    position: relative;
    min-height: 400px;
    background: url('../img/andretti1.jpg') no-repeat center center;
    background-size: cover;
}
.features-img {
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
}
.features-slider {
    position: relative;
    padding: 11% 100px 10% 100px;
    height: 400px;
    background-color: #3F6184;
}
.features-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.features-slider ul li {
    width: 100%;
}
.features-slider li h1 {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}
.features-slider li p {
    color: #fff;
    font-size: 14px;
}
.features-intro-img {
    position: relative
}
.slides li h1 {
    margin: 0;
    padding: 0;
}
.features-slider .flickity-page-dots {
    text-align: left;
    margin-top: 50px;
    position: static;
}
.features-slider .flickity-page-dots .dot {
    margin: 0 12px 0 0;
    border: 1px solid #fff;
}








/* ==========================================================================
Screenshots Intro
========================================================================== */
.screenshots-intro {
    padding: 50px 0 50px 0;
    background-color: #f6f7f9;
}
.screenshots-intro h1 {
    margin-bottom: 20px;
    color: #24374b;
    font-weight: 400;
    font-size: 22px;
}
.screenshots-intro p {
    margin-bottom: 25px;
    color: #778899;
}

/* ==========================================================================
Screenshots
========================================================================== */
.screenshots ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.screenshots ul li {
    float: left;
    min-height: 100%;
    width: 25%;
    background-color: #000;
    list-style: none;
}
.screenshots figure {
    position: relative;
    overflow: hidden;
}
.screenshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover img, .screenshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.85);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figcaption a {
    color: #fff
}
.screenshots figcaption a:hover, .screenshots figcaption a:focus {
    color: #73d0da
}
.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
    opacity: 1
}
.visible {
    opacity: 1
}
.screenshots figure.cs-hover figcaption {
    opacity: 1
}
.screenshots figcaption i {
    font-size: 35px
}
.screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}





/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible
}
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#map-canvas {
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.top-mobile {
  background: url(../img/mobile_background.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  height: 100%;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    height: 900px;
    width: auto; height: auto; z-index: -100;
    background: url() no-repeat;
    background-size: cover;
    z-index:-1;
}

.registry-link{
    margin: 0 50px 15px 0;
    background-color: #3F6184;
}